body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #191919;
    color: #ddd;
}

header {
    background-color: #333;
    color: white;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.store-name {
    font-size: 24px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.drop-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
}

.drop-content {
    display: none;
    position: absolute;
    background-color: #444;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.drop-content a {
    color: #ddd;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.drop-content a:hover {
    background-color: #555;
}

.cart-dropdown,
.user-dropdown {
    position: relative;
    display: inline-block;
}

.cart-button,
.user-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
}

.cart-content,
.user-content {
    display: none;
    position: absolute;
    background-color: #444;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.cart-content a,
.user-content a {
    color: #ddd;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.cart-content a:hover,
.user-content a:hover {
    background-color: #555;
}

.sidebar {
    background-color: #333;
    color: white;
    width: 200px;
    padding-top: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 20px; /* Aumentado el espacio arriba */
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px 20px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    border-radius: 5px;
}

.sidebar ul li a:hover {
    background-color: #555;
    padding-left: 25px;
}

.carousel {
    width: 60%;
    height: 350px; /* Incremento de altura */
    background-color: #2e1f1f;
    margin: 60px auto; /* Aumentado el espacio entre carruseles */
    border-radius: 10px;
}

footer {
    background-color: #222;
    color: #ddd;
    text-align: center;
    padding: 20px;
}
